
/* background color of whole page*/
* {
    background-color: antiquewhite;
    font-style: italic;
}

/* decorate title Summary*/
h2 {
    text-decoration:underline;
    color: #0414f1;
}

ul{
    color:rgb(255, 0, 0);
    position:relative;
    margin-top: 30px;
    margin-bottom: 10px;
}

#attendence-list {
    color:hsl(180, 50%, 50%);
    position: static;
    margin: auto;
}


.top-left{
    color:red;
}

#previous-topics{
    margin: 1cm 1cm 1cm 1cm;
    padding-top: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
}

